#from{
  margin: auto;
  width: 50%;
}

#cart{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#star{
  display: flex;
  justify-content: space-between;
}

#su{
  text-align: center;
}